
body {margin: 20px;}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


.headerformat {
  
    height: 100%;
    min-width: 100%;
    background-color: #000000;  
   
    border-bottom: 1px solid white; 
      
}

.title-format {
    font-family: "Roboto", 'Trebuchet MS';
    font-weight: 100;
    color: whitesmoke;
    
}

.contact-details {
   display:inline-block;
   padding-left: 0;
   }

.contact-details li {
    list-style-type: none;
    text-decoration: none;
    font-size: 0.8em; 
    }   

.head-addr {
    list-style-type: none;
    text-decoration: none;
    font-size: 0.8em; 
    } 


.banner-image {
    
    max-width: 100%;
    width: 100%;
    height: 100vh; 
   
    background: url("../images/Banner.jpg") no-repeat center center;
    position: relative;
    display: flex;
    background-size: cover;    
    overflow: hidden; 
}

.timetable-bk {
    margin: 0;
    padding: 0;
    background-color: black;
}

#cover-text{
    /* text-transform: uppercase; */
    font-family: "Roboto";
    color: #ffffff;
    background-color: rgba(29, 27, 26, 0.3);
    padding: 20 50 30 15;
   
    
    letter-spacing: 3px;
    position:absolute;

  top: 55%;
  left: 5%;
  width: 90%;
  height: 40%;
  overflow: auto;   
}



#cover-text > p {
    color:white;
  
    margin: 0px;
    padding: 0px;
    
}

.card-styling {
    background-color: black
}

.card-styling  p {
    font-size: 0.9em
}

.main-head-styling {
    background-color: black;
    color: White;
    text-align: center;
    padding: 5px;

}



form {
    font-family: "Roboto", 'Trebuchet MS';
    font-weight: 100;
   
    
}

.form-styling {
    background-color: black;
    color: white;
    height: 100vh;
   letter-spacing: 1px;
 
   
}

.form-head-mg {
background-color: black;
margin-bottom: 3em;
color:white;

}

.Concept-bk-style {
    background-color: black;
    height: 100vh;
}

.Concept-head-styling {
    background-color: black;
    color: White;
    text-align: center;
    padding: 5px;
}




