
body {margin: 10px;}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* ------------------------------------------ Header Format ---------------------------------------------------*/
.headerformat {
  
    height: 100%;
    min-width: 100%;
    background-color: #000000;  
   
    border-bottom: 1px solid white; 
      
}


      /* Format the Gym name */
.name-format {
    font-family: "Roboto", 'Trebuchet MS';
    font-weight: 100;
    color: whitesmoke;
    
}


      /* Enable Club Address to be alongside club name */
.contact-details {
   display:inline-block;
   padding-left: 0;
   }

      /* Remove the bullets from the address list */ 
.contact-details li {
    list-style-type: none;
    text-decoration: none;
    font-size: 0.8em; 
    }   


      /* Remove the bullets from the header address list */ 
.head-addr {
    list-style-type: none;
    text-decoration: none;
    font-size: 0.8em; 
    } 

/* ----------------------------------------- Footer Format ----------------------------------------------------*/
        /* Format the footer text */
.footer-format {
    background-color: black;
    color: white;
    font-size: 0.9em;
    margin: 0; 
}
        /* Remove the bullets from the footer address list */ 
.footer-format li {
    list-style-type: none;
    text-decoration: none;  
}

/* ----------------------------------------------- Index Page Foramt ---------------------------------------------*/

        /* Import Banner image and display across the whole screen */ 
.banner-image { 
    max-width: 100%;
    width: 100%;
    height: 100vh; 
   
    background: url("../images/Banner.jpg") no-repeat center center;
    position: relative;
    display: flex;
    background-size: cover;    
    overflow: hidden; 
}


                           /* Index page cover text formatting */
#cover-text{
    
    font-family: "Roboto";
    color: #ffffff;
    background-color: rgba(29, 27, 26, 0.3);
    padding: 20 50 30 15;
   
    
    letter-spacing: 3px;
    position:absolute;

  top: 55%;
  left: 5%;
  width: 90%;
  height: 40%;
  overflow: auto;   
}


                             /* Format address paragraphs in cover page text */ 
#cover-text > p {
    color:white;
    margin: 0px;
    padding: 0px;   
}

/* ----------------------------------------- Trainer Page styling -------------------------------------------*/


.card-styling {
    background-color: black
}

.card-styling  p {
    font-size: 0.9em
}

.trainer-main-head-styling {
    background-color: black;
    color: White;
    text-align: center;
    padding: 5px;

}

/* ----------------------------------------- Sign Up form styling -------------------------------------------*/

form {
    font-family: "Roboto", 'Trebuchet MS';
    font-weight: 100;
    
}

.form-styling {
    background-color: black;
    color: white;
    height: auto;
   letter-spacing: 1px;  
}

.form-head-mg {
background-color: black;
margin-bottom: 3em;
color:white;
}


/* ----------------------------------------- Concept page styling -------------------------------------------*/

.Concept-bk-style {
    background-color: black;
    height: 100vh;
}

.Concept-head-styling {
    background-color: black;
    color: White;
    text-align: center;
    padding: 5px;
}

.Concept-main-head-styling {
    background-color: black;
    color: White;
    text-align: center;
    padding: 5px;
}

/* ----------------------------------------- Timetable page styling -------------------------------------------*/

                        /* For timetable html, remove padding and margin with black background */
.timetable-bk {
    margin: 0;
    padding: 0;
    background-color: black;
}


